services:
  minecraft-server:
    image: eclipse-temurin:25-jre-alpine
    container_name: minecraft-server
    env_file:
      - .env
    ports:
      - "25565:25565"
    volumes:
      - ./scripts:/scripts

      - minecraft-data:/minecraft
      - ./data/world:/minecraft/world
      - ./data/mods:/minecraft/mods
      - ./data/logs:/minecraft/logs

      - ./data/config:/config
      - ./data/config/mods:/minecraft/config
    command: >-
      sh -c "apk add bash wget unzip &&
            bash /scripts/entrypoint.sh"
    restart: unless-stopped
    stdin_open: true
    tty: true

volumes:
  minecraft-data:
    driver: local
