services:
  borgmatic:
    image: eclarift/borgmatic:latest
    container_name: borgmatic
    env_file:
      - .env
      - .secrets
    volumes:
      - ./data:/mnt/source:ro
      - ./data/backups/borg-repository:/mnt/borg-repository
      - ./data/config/borgmatic:/etc/borgmatic.d
      - borgmatic-data:/root
    restart: unless-stopped

volumes:
  borgmatic-data:
    driver: local
