services:
  minecraft:
    build: .
    container_name: minecraft-server-atm
    env_file:
      - .env
    ports:
      - "25565:25565"
    volumes:
      - ./data/world:/minecraft/world
      - ./data/mods:/minecraft/mods
      - ./data/config:/minecraft/config
      - ./data/logs:/minecraft/logs
    restart: unless-stopped
    stdin_open: true
    tty: true
